<body>
<header>
  <div class="title">
    <h1>CHECK PAPER</h1>
  </div>
  <div class="login">
    <%= link_to current_user.name, edit_user_path(current_user), class: "shop" %>
  </div>
</header>
<main>
  <div class="imag">
    <img src="/assets/img_logo_pc.jpeg" alt="">
    <div class="createbtn">
      <a href="menus/" class="menubtn">メニュー</a>
      <a href="#" class="guestbtn">ゲスト</a>
      <a href="#" class="staffbtn">スタッフ</a>
      <a href="#" class="chackroombtn">伝票</a>
      <a href="#" class="allsalebtn">売上</a>
    </div>
  </div>
</main>
<footer>
  <div class="logout">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'out'%>
  </div>
</footer>
</body>