<div class="allcheck">
  <p>合計</p>
  <%= form_with model: [@checkrooms, @allsale], class: 'final-check', local: true do |f| %>
    
      <%= f.text_field :allprice, value: @allsales, class: 'alls' %>
    
    
      <%=f.submit class: 'o', value: '精算'%>
    
  <% end %>
</div>