.allcheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 11%;
  width: 30.6%;
  background-color:hotpink;
  border-radius: 5px;
  box-shadow: 5px 5px #000;
  margin: 500px 0 0 0;
}

.alls{
  text-align: right;
  padding: 0 10px;
  font-size: 20px;
}
.o{
  padding: 4px 10px;
}

/*検索*/
.search{
  width: 100%;
  height: 100% - 150px;
  padding: 30px 0 0 0;
}
.wa{
  font-size: 50px;
  margin: 0px 30px 50px 37% ;
  background-color: greenyellow;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 5px 5px #000;
}
.wb{
  margin-left: 25%;
  margin-bottom: 50px;
  font-size: 30px;
  
}
.wc{
  margin-left: 25%;
  margin-bottom: 50px;
  font-size: 30px;
}
.wd{
  font-size: 40px;
  margin-left: 25%;
  border-radius: 5px;
}