/*注文済リスト*/
.allcheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  height: 11%;
  width: 30.6%;
  background-color:hotpink;
  border-radius: 5px;
  box-shadow: 5px 5px #000;
  margin: 500px 0 0 0;
}

.alls{
  text-align: right;
  padding: 0 10px;
  font-size: 20px;
}
.o{
  padding: 4px 10px;
}

/*検索*/
.search{
  width: 100%;
  height: 100%;
  padding: 5% 0 0 0;
}
.wa{
  font-size: 200%;
  margin: 0 0 3% 25%;
  width: 300px;
}
.wb{
  margin-left: 25%;
  margin-bottom: 5%;
  font-size: 200%;
  
}
.wc{
  margin-left: 25%;
  margin-bottom: 5%;
  font-size: 200%;
}
.wd{
  font-size: 200%;
  margin: 0 0 5% 25%;
  border-radius: 5px;
}
/*トップメニュー*/
.main30{
  display: flex;
}
.ham30 {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: greenyellow;
  margin: 0 20px 20px 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.ham_line {
	position: absolute;
	left: 20px;
	width: 20px;
	height: 5px;
	background-color: #333333;
}
.ham_line1 {
	top: 18px;
}
.ham_line2 {
	top: 26px;
}
.ham_line3 {
	top: 34px;
}

.ham_line {
	transition: all 0.3s;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 26px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 26px;
}
.menu30 {
	position: fixed;
  position: relative;
	width: 300px;
	height: 300px;
	left: -500px;
	background-color: greenyellow;
	transition: all 0.8s;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.clicked .menu30 {
	left: 8px;
}
.menus-all30{
  position: absolute;
  top: 50px;
}
.menuber30{
  padding-top: 10px;
}

/*検索結果*/
.searchall30{
  height: 70%;
  overflow: scroll;
}
.search1{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.searchday{
  width: 25%;
  
}
.searchstaff{
  width: 25%;
  
}
.searchguest{
  width: 25%;
}
.searchallprice{
  width: 25%;
}
.searchall1{
  height: 100%;
  padding: 30px;
}
.searchall{
  font-size: 50px;
}
.top{
  font-size: 40px;
}
