/*合計*/
.allcheck{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.all{
  margin-bottom: 10px;
}
.alls{
  text-align: right;
  font-size: 1.5vw;
}
.allsaledate{
  text-align: right;
}
.payment{
  font-size: 1.5vw;
  height: 30px;
}
.o{
  font-size: 1.7vw;
  cursor: pointer;
  border-radius: 5px;
	box-shadow: 2px 2px #000;
  width: 5vw;
  padding: 5px 0;
}
.o:active{
	box-shadow: none;
	opacity: 0.8;
}
.o:hover{
	color:red;
	transition: all 0.2s;
}
.o2{
  font-size: 1.5vw;
  color: red;
}
.o3{
  font-size: 1.5vw;
  margin-right: 10px;
}
/*検索*/
.search{
  width: 66%;
  height: 100%;
  
}
.searchs{
  width: 100%;
  height: 50%;
  margin: 22vh 0 0 50%;
}
.wa{
  font-size: 2.5vw;
  margin-bottom: 20px;
}
.wb{
  font-size: 1.5vw;
  margin-bottom: 20px;
}
.wc{
  font-size: 1.5vw;
  margin-bottom: 20px;
}
.wd{
  font-size: 2.0vw;
}
.submit{
  padding: 10px;
  width: 7vw;
  height: 65px;
  cursor: pointer;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.submit:hover{
	color:red;
	font-size: 1.8vw;
	transition: all 0.2s;
}
/*トップメニュー*/
.maintop5{
	height: calc(100vh - 16vh);
  display: flex;
}


/*検索結果*/
.searchall1{
  height: 100%;
  padding: 0 0 20px 0;
}
.search_list{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}
.day{
  width: 25%;
  text-align: center;
  font-size: 1.5vw;
  color:red;
  border: 1px solid black;
}
.searchall30{
  height: 55%;
  overflow: scroll;
  margin-top: 30px;
}
.search1{
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  font-size: 1.5vw;
  width: 100%;
}
.searchday{
  width: 20%;
  text-align: center;
}
.searchstaff{
  width: 20%;
  text-align: center;
}
.searchguest{
  width: 20%;
  text-align: center;
}
.searchallprice{
  width: 20%;
  text-align: center;
}
.searchpayment{
  width: 20%;
  text-align: center;
}
.allprice_list{
  display: flex;
  margin-top: 30px;
  width: 100%;
}
.allsalelogo{
  width: 25%;
  font-size: 1.5vw;
  color:red;
  text-align: center;
}

.searchalls{
  display: flex;
  width: 100%;
}
.searchall{
  width: 25%;
  margin: 20px 0 0 0 ;
  font-size: 2vw;
  text-align: center;
}
.top{
  font-size: 2vw;
}
.top:hover{
	color:red;
	font-size: 2.5vw;
	transition: all 0.2s;
  text-decoration: none;
}
