/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*エラーメッセージ*/
.alert-warning{
  color:#262626; 
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:10;
}
.alert-warning li{
  font-size: 1vw;
}

/*フラッシュエラー*/
p{
  font-size: 1.5vw;
}

/*フォームラベル*/
.menu-label{
  font-family: Impact;
  font-size: 2vw;
}
.price-label{
  font-family: Impact;
  font-size: 2vw;
}
.action-btn{
  font-family: Impact;
  font-size: 2vw;
  cursor: pointer;
}
.action-btn:active{
  opacity: 0.8;
}
.action-btn:hover{
	color:red;
	font-size: 2.5vw;
	transition: all 0.2s;
}