.upper-message{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 30px 0;
  font-size: 1.5vw;
}
.message-date{
  width: 20%;
}

.message-name{
  width: 30%;
}
.cup{
  width: 20%;
  text-align: center;
}
.message-content{
  width: 20%;
  text-align: right;
}
.del{
  width: 10%;
  text-align: right;
}
.checkzumi{
  font-size: 1.6vw;
  color: red;
}

