.upper-message{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 6%;
  margin: 30px 0 40px 0;
  font-size: 1.5vw;
}
.message-date{
  width: 20%;
}

.message-name{
  width: 30%;
}
.cup{
  width: 10%;
  text-align: center;
}
.message-content{
  width: 30%;
  text-align: right;
}
.del{
  width: 10%;
  text-align: right;
}
.ou3{
  text-decoration: none;
}
.ou3:hover{
	color:red;
	font-size: 1.7vw;
	transition: all 0.2s;
}
.checkzumi{
  font-size: 1.6vw;
  color: red;
  text-align: center;
}

