.maintop3{
  display: flex;
}
.maintop4{
  height: calc(100vh - 200px);
  width: 77%;
  display: flex;
}
/*伝票中*/
.check_room_show{
  width: 50%;
  height: 100%;
}
.check_room_names{
  display: flex;
  justify-content: space-around;
  font-size: 2vw;
  border-bottom: 1px solid black;
}
.message1{
  overflow: scroll;
  height: 65%;
}

/*伝票右*/
.check_create{
  width: 50%;
  height: 100%;
  position: relative;
}
.check_create_form{
  text-align: center;
  position: absolute;
  top: 30%;
  left: 30%;
}
.check_create_form1{
  margin: 0 0 20px 0;
  font-size: 1.5vw;
  width: 100%;
  height: 50px;
}
.check_create_form2{
  margin: 0 0 20px 0;
  font-size: 1.5vw;
}
.check_create_form3{
  margin: 0 0 20px 0;
  font-size: 1.5vw;
}
.check_create_link{
  margin-bottom: 15px;
}
.check_create_count{
  font-size: 1.5vw;
  margin-bottom: 15px;
}
.menuname{
  width: 90%;
  height: 50px;
  text-align: center;
}
.menuallprice{
  width: 90%;
  text-align: center;
}
.menuprice{
  text-align: center;
  width: 90%;
}
.drinkmenu{
  cursor: pointer;
  font-size: 1.5vw;
  height: 4vw;
  width: 5vw;
  border-radius: 5px;
	box-shadow: 2px 2px #000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.drinkmenu:active{
	box-shadow: none;
	margin: 2px 0 0 2px;
	opacity: 0.8;
}
.cups{
  text-align: center;
  font-size: 1.5vw;
  width: 8vw;
}
