/*伝票サイドバー*/
.maintop2{
  height: calc(100vh - 16vh);
	width: 33%;
}
.check_lists{
  height: 100%;
	width: 100%;
	overflow: scroll;
}

.ham {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: greenyellow;
  margin: 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
	border: 2px solid greenyellow;
}
.ham:hover{
	background-color: hotpink;
	transition: all 0.5s;
}

.ham_line {
	position: absolute;
	left: 20px;
	width: 20px;
	height: 5px;
	background-color: #333333;
}
.ham_line1 {
	top: 18px;
}
.ham_line2 {
	top: 26px;
}
.ham_line3 {
	top: 34px;
}

.ham_line {
	transition: all 0.3s;
}
.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 26px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 26px;
}

.check_list{
  height: 50%;
  position: relative;
  overflow: scroll;
}
.check_list_names{
  position: absolute;
  top: 5%;
  left: 35%;
}
.tabs{
	margin-top: 20px;
	font-size: 1.5vw;
	margin-left: 10px;
	overflow: scroll;
}
.check_list_name{
  margin-bottom: 30px;
	height: 40px;
}
.room-name5{
  font-size: 2vw;
  text-decoration: none;
  color: #000;
	padding: 10px 0;
}
.room-name5:hover{
	color:red;
	font-size: 2.5vw;
	transition: all 0.2s;
}

.menu_create{
	position: fixed;
	width: 400px;
	height: 400px;
	left: -500px;
  top: 10vh;
	background-color: greenyellow;
	transition: all 0.8s;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
	overflow: scroll;
}
.clicked .menu_create{
	left: 100px;
	top:10vh;
}
.create_form{
  position: absolute;
  top: 70px;
  left: 100px;
  font-size: 150%;
}
.check_list_form1{
  padding-bottom: 10px;
}
.check_list_link{
  padding-bottom: 10px;
}
.check_howmany_input{
  font-size: 1vw;
  width: 70%;
  text-align: center;
}
.action-btn{
	width: 100px;
	height: 50px;
	border-radius: 5px;
	box-shadow: 3px 3px #000;
}
.action-btn:active{
	box-shadow: none;
	margin: 3px 0 0 3px;
	opacity: 0.8;
}

.li2{
	height: 30px;
	margin: 10px 0;
}