p{
  font-size: 20px;
}
.main{
  display: flex;
  justify-content: space-around;
}
/*ハンバーガーメニュー*/
.ham {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: greenyellow;
  margin: 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.ham_line {
	position: absolute;
	left: 20px;
	width: 20px;
	height: 5px;
	background-color: #333333;
}
.ham_line1 {
	top: 18px;
}
.ham_line2 {
	top: 26px;
}
.ham_line3 {
	top: 34px;
}

.ham_line {
	transition: all 0.3s;
}

.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 26px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 26px;
}



.chat-room-form__field--left{
  padding-bottom: 5px;
}


/*ゲスト一覧*/
.createform{
  height: calc(100vh - 222px);
  width: 100%;
  margin: 0 0 0 20%;
  padding: 20px 50px 0px 50px;
  overflow: scroll;
}

.menus{
  display: flex;
  justify-content: space-between;
}
.menus-name{
  color: #000;
  text-decoration: none;
  background-color: greenyellow;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
  font-size: 30px;
  font-family: arial unicode ms;
}
.menus-price{
  margin: 10px 0 30px 0;
  padding: 5px 10px 0 10px;
  background-color: greenyellow;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
  font-family: Impact;
  font-size: 30px;
}
.menu-names{
  color: #000;
  text-decoration: none;
}

