/*中*/
.list_menu{
  height: 100%;
  width: 33%;
}
.list_menu_list{
  height: 68%;
  position: relative;
  overflow: scroll;
}
.menu_lists{
  top: 20%;
  left: 20%;
  position: absolute;
}
.menu_block{
  display: flex;
  justify-content: space-between;
}
.menu_list{
  font-size: 1.5vw;
  margin-bottom: 20px;
}