/**/
.maintop1{
	height: calc(100vh - 16vh);
  display: flex;
  justify-content: space-around;
}

/*左*/
.form_staff{
  height: 100%;
  width: 33%;
  overflow: scroll;
}
.title_a{
  height: 10%;
  padding-top: 10px;
  text-align: center;
}
.form_staff_create_form{
  height: 90%;
  position: relative;
}
.form_staff_create_area{
  position: absolute;
  top: 25%;
  left: 30%;
}
.form_staff_text{
  margin: 10px 0 20px 0;
}
.form_staff_btn{
  margin-bottom: 20px;
}

/*中*/
.list_staff{
  height: 100%;
  width: 33%;
}
.list_staff_list{
  height: 68%;
  width: 100%;
  overflow: scroll;
}
.staff_lists{
  padding: 80px 50px 0 50px;
}
.staff_lists1{
  display: flex;
  justify-content: space-around;
}
.staff_list{
  height: 7vh;
  width: 70%;
  font-size: 2.5vw;
  margin-bottom: 10px;
  text-align: left;
}
.dele{
  width: 30%;
  font-size: 1.5vw;
  margin: 10px 0;
  text-align: right;
}
.ou{
  padding: 10px 0;
}
.ou:hover{
	color:red;
	font-size: 2vw;
	transition: all 0.2s;
}

/*右*/
.main_menu{
  height: 100%;
  width: 33%;
}
.top_menu_lists{
  height: 80%;
  position: relative;
  overflow: scroll;
}
.top_memu_list{
  top: 15%;
  left: 35%;
  position: absolute;
}
.top_memu_list li{
  font-size: 2.5vw;
  margin-bottom: 10px;
}
.menubtn1{
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
}
.menubtn1:hover{
	color:red;
	font-size: 2vw;
	transition: all 0.2s;
}