.ham2 {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: springgreen;
  margin: 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.menus-all h1{
  position: fixed;
  background-color: springgreen;
}
.menu2 {
	position: fixed;
	width: 300px;
	height: 400px;
	bottom: -500px;
  left: 500px;
	background-color: springgreen;
	transition: all 0.8s;
  padding: 10px 0 0 100px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
  overflow: scroll;
}
.clicked .menu2 {
	bottom: 155px;
}

.createform2{
  height: calc(100vh - 222px);
  width: 100%;
  margin: 0 0 0 20%;
  padding: 3px 50px 0px 50px;
  overflow: scroll;
}

.menus-name2{
  font-size: 30px;
  margin: 30px 0 10px 0;
}

.createform3{
  height: calc(100vh - 222px);
  width: 110%;
}
.ham3 {
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
	background-color: turquoise;
  margin: 20px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
}
.menu3 {
	position: fixed;
	width: 300px;
	height: 400px;
	right: -400px;
	background-color: turquoise;
	transition: all 0.8s;
  padding: 10px 0 0 100px;
  border-radius: 5px;
	box-shadow: 5px 5px #000;
  overflow: scroll;
}
.clicked .menu3 {
	right: 30px;
}
.menus-all1{
  padding-top: 3px;
}
.menu-btn1{
  padding: 20px 0;
  font-size: 30px;
}
.menubtn1{
  text-decoration: none;
}
.guest-btn1{
  padding: 0 0 20px 0;
  font-size: 30px;
}
.guestbtn1{
  text-decoration: none;
}
.staffbtn1{
  text-decoration: none;
}
.staff-btn1{
  padding: 0 0 20px 0;
  font-size: 30px;
}
.chackroombtn1{
  text-decoration: none;
}
.chackroom-btn1{
  padding: 0 0 20px 0;
  font-size: 30px;
}
.allsalebtn1{
  text-decoration: none;
}
.allsale-btn1{
  padding: 0 0 20px 0;
  font-size: 30px;
}