header{
	height: 8vh;
	background-color: gray;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title{
	font-size: 2vw;
	margin-left: 60px;
}

.shop{
	text-decoration: none;
	margin: 0 60px 0 0;
	font-size: 1.5vw;
	padding: 0 10px;
	border-radius: 5px;
}
.shop:active{
	margin: 0 55px 0 0px;
	opacity: 0.8;
}
.shop:hover{
	color:red;
	transition: all 0.2s;
}

/*メイン*/
.maintop{
	height: calc(100vh - 16vh);
}

/*各種作成ボタン*/
.createbtn{
	height: calc(100vh - 16vh);
	width: 100vw;
	padding: 3vh 0 0 0;
	font-size: 2vw;
}

.btns{
	height: 10%;
	text-align: center;
	margin: 0 0 3.5vh 0 ;
}

.menubtn{
	padding: 30px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.menubtn:hover{
	color:red;
	font-size: 3vw;
	transition: all 0.2s;
}

.guestbtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.guestbtn:hover{
	color:blue;
	font-size: 3vw;
	transition: all 0.2s;
}

.staffbtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.staffbtn:hover{
	color:gold;
	font-size: 3vw;
	transition: all 0.2s;
}

.checkroombtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.checkroombtn:hover{
	color: green;
	font-size: 3vw;
	transition: all 0.2s;
}

.allsalebtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.allsalebtn:hover{
	color: purple;
	font-size: 3vw;
	transition: all 0.2s;
}

.shiftbtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.shiftbtn:hover{
	color:orange;
	font-size: 3vw;
	transition: all 0.2s;
}

.shift_listbtn{
	padding: 20px 0;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}
.shift_listbtn:hover{
	color: pink;
	font-size: 3vw;
	transition: all 0.2s;
}

/*下部*/
footer{
	height: 8vh;
	width: 100%;
	background-color: gray;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.out{
	font-size: 1vw;
	text-decoration: none;
	border: 2px solid greenyellow;
	padding: 0.5vw;
	margin-right: 30px;
	color: #000;
	background-color: greenyellow;
	box-shadow: 3px 3px #000;
	cursor: pointer;
	border-radius: 5px;
}
.out:active{
	box-shadow: none;
	margin: 0 25px 0 0;
}
.out:hover{
	background-color: hotpink;
	color: purple;
	font-size: 1.5vw;
	transition: all 0.2s;
}

